<!-- index.nunjucks -->
{% extends "layout.njk" %}

{% block content %}
  <h1>This is the index page</h1>

  {# <!-- Adds the navigation partial -->
  {% include "partials/navigation.njk" %} #}

  <!-- Importing Nunjucks Macro -->
  {% import 'macros/nav-macro.njk' as nav %}
  <!-- Creating the navigation with activePage = 'home' -->
  {{nav.active('contact')}}

  <div class="gallery">
    <!-- Loops through "images" array -->
    {% for image in images %}
    <div class="gallery__item">
      <img src="{{image.src}}" alt="{{image.alt}}">
    </div>
    {% endfor %}
  </div>

{% endblock %}